<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/modify}" th:object="${appointment}">
<input type="hidden" name="id" th:value="*{id}"/>
	Name: <input type="text" th:field="*{firstName}" th:value="*{firstName}"><br>
	E-mail: <input type="email" th:field="*{email}" th:value="*{email}"><br>
	Date: <input type="date" th:field="*{appointmentDate}" th:value="*{appointmentDate}"><br>
	Time: <input type="time" th:field="*{appointmentTime}" th:value="*{appointmentTime}"><br>
	<input type="submit" value="Update">
	</form>
</body>
</html>