<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Access Denied</title>
</head>
<body>
<div th:replace="index.html :: header"></div>
	<h1>Access denied</h1>
	<div th:fragment="logout" class="logout"
		sec:authorize="isAuthenticated()">
		You logged in as: <span sec:authentication="name"></span> With roles:
		<span sec:authentication="principal.authorities"></span><br>
		<h2>This account is not authorized to modify the content.</h2>
		<h3 style="color: red;" th:text="${session.msg}"></h3>
		<br>
		<div>
			<form action="#" th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
			</form>
		</div>
	</div>
	<div th:replace="index.html :: footer"></div>
</body>
</html>